.introduce {
  width: 100%;

  .btn_top {
    z-index: 10000;
    position: fixed;
    right: 30px;
    top: 50%;
    width: 32px;
    height: 32px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSByPSIxNiIgdHJhbnNmb3JtPSJtYXRyaXgoLTQuMzcxMTRlLTA4IC0xIC0xIDQuMzcxMTRlLTA4IDE2IDE2KSIgZmlsbD0iIzFEMEY3MyIvPgo8cGF0aCBkPSJNMTEuMDcxMSAxOEwxNi4wNzEgMTMuMDAwMUwyMS4wNzEgMTgiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41Ii8+Cjwvc3ZnPgo=) no-repeat 0 50%;
  }

  .section_01 {
    position: relative;

    .arrow_icon {
      z-index: 2;
      position: absolute;
      bottom: 40px;
      left: 50%;
      width: 31px;
      height: 17px;
      background-image: url('/static/img/ico_arrow.svg');
      background-size: contain;
    }

    .logo_img {
      z-index: 2;
      position: absolute;
      width: 140px;
      height: 48px;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('/static/img/logo.svg');
      background-size: contain;
    }

    .menu_title {
      z-index: 2;
      position: absolute;
      top: 50vh;
      left: 30px;
      rotate: 180deg;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: translateY(50%);
      color: #fff;
      font-size: 24px;
      text-align: center;
      letter-spacing: .5em;
    }

    .menu_btn {
      z-index: 1001;
      position: absolute;
      top: 50vh;
      right: 16px;
      width: 50px;
      height: 50px;
      padding: 0;
      transform: translate(0, -50%);

      .line {
        display: block;
        width: 22px;
        height: 2px;
        background: #fff;
        margin-left: 15px;
        transition: all 0.3s ease;

        &+.line {
          margin-top: 7px;
        }

        &:nth-child(2) {
          width: 16px;
        }
      }
    }

    .main_video {
      height: 100vh;

      .thumb {
        position: relative;
        height: 100vh;
        overflow: hidden;

        .video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }

  .section_02 {
    padding: 0 10px;
    width: 1080px;
    position: relative;
    margin: 100px auto 0;

    .title {
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
    }

    .dfesta_img {
      position: absolute;
      top: 626px;
      right: 0;
      width: 242px;
      z-index: 2;
      padding-top: 21.1%;

      .img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

    }

    .description {
      position: absolute;
      top: 861px;
      right: 0;
      width: 532px;
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }

    .img_wrap {
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .thumb_1 {
        width: 480px;
        height: 640px;
        position: relative;

        .img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .thumb_2 {
        width: 480px;
        height: 640px;
        overflow: hidden;
        position: relative;

        .img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-radius: 20px;
        }
      }

      .thumb_3 {
        width: 585px;
        height: 375px;
        margin-top: 200px;
        position: relative;

        .img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 10px;
        }
      }

      .thumb_4 {
        width: 380px;
        height: 480px;
        margin-top: 200px;
        position: relative;

        .img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 20px;
        }
      }
    }
  }

  .section_03 {
    padding: 0 10px;
    width: 1080px;
    position: relative;
    margin: 78px auto 0;
    overflow: hidden;

    .sub_title {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 700;
      font-size: 48px;
      line-height: 62px;
    }

    .introduce_wrap {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      flex-wrap: wrap;

      .info_1 {
        height: 838px;
        width: 500px;

        .thumb {
          position: relative;
          padding-top: 71.1%;

          .img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
          }
        }

        .title {
          display: block;
          margin-top: 30px;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
        }

        .contents {
          margin-top: 18px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }

        .img_wrap {
          margin-top: 30px;
          height: 60px;
          display: flex;

          .thumb_1 {
            width: 165px;
            position: relative;
          }

          .thumb_2 {
            margin-left: 10px;
            width: 60px;
            position: relative;
          }

          .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }

        .more_btn_area {
          margin-top: 40px;
        }
      }

      .info_2 {
        margin-top: 349px;
        height: 838px;
        width: 500px;

        .thumb {
          padding-top: 71.2%;
          position: relative;

          .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 20px;
          }
        }

        .title {
          display: block;
          margin-top: 30px;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
        }

        .contents {
          margin-top: 18px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }

        .more_btn_area {
          margin-top: 40px;
        }
      }

      .info_3 {
        width: 500px;
        margin-top: -200px;

        .thumb {
          position: relative;
          padding-top: 71.2%;

          .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 20px;
          }
        }

        .title {
          display: block;
          margin-top: 30px;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
        }

        .contents {
          margin-top: 18px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }

        .more_btn_area {
          margin-top: 40px;
        }
      }
    }
  }

  .section_04 {
    padding: 0 10px;
    width: 1080px;
    position: relative;
    margin: 72px auto 0;

    .contents_wrap {
      margin-top: 48px;
      overflow: hidden;

      .title_wrap {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;

        .title {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
        }

        .thumb {
          position: relative;
          width: 24px;
          height: 24px;

          .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }

      .img_wrap {
        position: relative;

        .title {
          width: 100%;
          text-align: center;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-weight: 700;
          font-size: 88px;
          line-height: 88px;
          color: #fff;
          z-index: 2;
          font-family: "Bebas Neue Pro", "Malgun Gothic", "맑은 고딕", dotum, "돋움", "Apple SD Gothic Neo", sans-serif;
          letter-spacing: .2em;

          .small_title {
            margin-bottom: 10px;
            font-size: 40px;
            line-height: 40px;
          }
        }

        .thumb {
          margin-top: 14px;
          padding-top: 50.9%;
          position: relative;

          .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 20px;
          }
        }
      }

      .link_wrap {
        margin-top: 26px;
        margin-left: 50%;
        width: 50%;

        .title {
          display: block;
          font-weight: 700;
          font-size: 32px;
          line-height: 42px;
          white-space: nowrap;
        }

        .btn_area {
          padding-top: 48px;
        }
      }
    }
  }
}