.link_btn {
  display: inline-flex;
  align-items: center;

  .text {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  .ico {
    position: relative;
    overflow: hidden;
    display: block;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;

    .arrow_img {
      margin-top: 6px;
    }
  }
}